<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #3c71e0;"></span>
		<span class="sg-label">
			$royal-blue <br />
			#3c71e0
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
			$white <br />
			#ffffff
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F0F2F3;"></span>
		<span class="sg-label">
			$porcelain <br />
			#F0F2F3
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #13181b;"></span>
		<span class="sg-label">
			$woodsmoke <br />
			#13181b
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #605f65;"></span>
		<span class="sg-label">
			$mid-gray <br />
			#605f65
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2e2d33;"></span>
		<span class="sg-label">
			$baltic-sea <br />
			#2e2d33
		</span>
	</li>
</ul>
