{{> organisms-header }}
<main role="main">
	{{# hero }}
		{{> molecules-block-hero }}
	{{/ hero}}
	{{> organisms-section-card-list}}
	{{> organisms-section-quickarticle}}
</main>
{{> organisms-footer }}
