<footer class="footer">
	<div class="footer__container">
		<section class="footer__component">
			{{> molecules-footer-nav }}
		</section>
		<section class="footer__component">
			<section class="footer__text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			</section>
			{{> organisms-stacked-form }}
		</section>
	</div>
</footer>
