<section class="anouncements">
	{{# sectionQuickArticles }}
	<article class="anouncement">
		<h2 class="anouncement__headline">{{ headline }}</h2>
		<p class="anouncement__info">{{& info }}</p>
	</article>
	{{/ sectionQuickArticles }}
</section><!--end section-->
