// -----------------------------------------------------------------------------
// Contains all global variables
// -----------------------------------------------------------------------------

/// Colors across project
/// @type Color
$royal-blue: hsl(220, 72%, 55%);
$white: hsl(0, 0%, 100%);
$porcelain: hsl(200, 12%, 95%);
$woodsmoke: hsl(202, 17%, 9%);
$mid-gray: hsl(249, 3%, 38%);
$baltic-sea: hsl(249, 6%, 18%);

$text-color: $woodsmoke;

/// Regular font family
/// @type List
$text-font-stack: (
  'Fira Sans',
  sans-serif,
);

/// Container's maximum width
/// @type Length
$max-width: 1180px;

/// Breakpoints map
/// @prop {String} keys - Name of break point, unrelated to devices
/// @prop {Length} values - Length of brekapoint
$breakpoints: (
  'seed': 320px,
  'sprout': 640px,
  'plant': 960px,
);

/// Z-indexes map
/// @prop {String} key - Layer, semantic name
/// @prop {Number} value - Z value of key
$z-indexes: (
  'modal': 900,
  'above-images': 400,
  'default': 1,
);

/// Animation speed map
/// @prop {String} keys - Time length name
/// @prop Length values - Time length
$animation-speed: (
  'fast': 88.87ms,
  'normal': 0.3s,
  'slow': 675ms,
);

/// Animation curves map
/// @prop {String} keys - Transition name
/// @prop {???} values - Which transition to use
$animation-curves: (
  'animate-out': cubic-bezier(0.895, 0.03, 0.685, 0.22),
  'animate-in': cubic-bezier(0.165, 0.84, 0.44, 1),
  'animate-on-page': cubic-bezier(0.77, 0, 0.175, 1),
  'fade': linear,
);

/// Relative or absolute URL where all assets are served from
/// @type String
$base-url: '/assets/';
