input {
  padding: 1.4rem;
  text-transform: capitalize;
  border: 1px solid mix($mid-gray, $white, 20%);
  border-radius: 3px;
  background: $white;
  transition: make-transition('border-color', 'fast', 'fade');

  @include on-event() {
    border-color: $royal-blue;
  }
}


label {
  @extend .visually-hidden;
}
