<nav class="footer__nav">
	{{# footerNav }}
	<div class="footer__mediacontainer">
		<img src="{{ imgSquare.src }}" alt="{{ imgSquare.alt }}" class="media--square footer__media" />
	</div>
	{{/ footerNav }}
</nav><!--end c-footer-nav-->
