<section href="{{ url }}" class="hero">
	{{> atoms-hero:hero__media }}
	<div class=hero__text>
		<h1 class="hero__headline">Destination <span>unknown</span></h1>
		<h2 class="hero__subheadline">Where do you wanna go?</h2>
	</div>
</section>
