
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <!-- <script type="text/javascript" src="/js/nav.js"></script>
  <script type="text/javascript" src="/js/progress.js"></script>
  <script type="text/javascript" src="/js/overlay.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.2.2/EQCSS.min.js"></script>
  </body>
</html>
